VITE_FIREBASE_API_KEY=AIzaSyBnwwqNBkCh-UOxHP2Wf3AU-RGwH3n9sB4
VITE_FIREBASE_AUTH_DOMAIN=restaurant-qr-system-eceea.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=restaurant-qr-system-eceea
VITE_FIREBASE_STORAGE_BUCKET=restaurant-qr-system-eceea.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=564321987435
VITE_FIREBASE_APP_ID=1:564321987435:web:84ab0bd0070b84c420ba2e
VITE_PUBLIC_APP_URL=http://localhost:5173
